<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>조회결과</h2>

<table>
  <tr>
    <th>NU</th>
    <th>KEY</th>
    <th>COLOR</th>
    <th>DOCTYPE</th>
    <th>MAKE</th>
    <th>MODEL</th>
    <th>OWERR</th>
    <th>ETC</th>
  </tr>
  <% for(i=0;i<data.length; i++) {%>
  <tr>
    <td><%= i+1 %></td>
    <td><%= data[i].Key %></td>
    <td><%= data[i].Record.color %></td>
    <td><%= data[i].Record.docType %></td>
    <td><%= data[i].Record.make %></td>
    <td><%= data[i].Record.model %></td>
    <td><%= data[i].Record.owner %></td>
    <td><button>수정</button></td>
  </tr>
  <% } %>
</table>

</body>
</html>
